<p class="text-xs-center">Войдите для работы</p>
<div *ngIf="message.text" class="alert alert-{{ message.type }}" @fade>{{ message.text }}</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group" [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}">
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control underlined"
      id="email"
      placeholder="Введите ваш email"
      formControlName="email"
    >
    <span class="form-help-text" *ngIf="form.get('email').invalid && form.get('email').touched">
      <small *ngIf="form.get('email').errors['email']">поле email должно быть корректным</small>
      <small *ngIf="form.get('email').errors['required']">поле email не может быть пустым</small>
    </span>
  </div>
  <div class="form-group" [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}">
    <label for="password">Пароль</label>
    <input
      type="password"
      class="form-control underlined"
      id="password"
      placeholder="Пароль"
      formControlName="password"
    >
    <span class="form-help-text" *ngIf="form.get('password').invalid && form.get('password').touched">
      <small *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">поле password должно иметь более
        {{ form.get('password').errors['minlength']['requiredLength'] }} символов. Сейчас введено
        {{ form.get('password').errors['minlength']['actualLength'] }}</small>
      <small *ngIf="form.get('password').errors['required']">поле password не может быть пустым</small>
    </span>
  </div>
  <div class="form-group">
    <button type="submit"
            class="btn btn-block btn-primary"
            [disabled]="form.invalid"
    >Войти</button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      Нет аккаунта? <a [routerLink]="['/registration']">Зарегистрироваться!</a>
    </p>
  </div>
</form>
