<div class="auth">
  <div class="auth-container">
    <div class="card">
      <header class="auth-header">
        <h1 class="auth-title">
          <span class="logo" style="display: block;">
            <span class="l l1"></span>
            <span class="l l2"></span>
            <span class="l l3"></span>
            <span class="l l4"></span>
            <span class="l l5"></span>
          </span>
          Домашняя бухгалтерия
        </h1>
      </header>
      <div class="auth-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
