<p class="text-xs-center">Регистрация для получения доступа</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group" [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}">
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control"
      id="email"
      placeholder="Введите email"
      formControlName="email"
    >
    <span class="form-help-text" *ngIf="form.get('email').invalid && form.get('email').touched">
      <small *ngIf="form.get('email').errors['email']">поле email должно быть корректным</small>
      <small *ngIf="form.get('email').errors['required']">поле email не может быть пустым</small>
      <small *ngIf="form.get('email').errors['forbiddenEmail']">email уже занят</small>
    </span>
  </div>
  <div class="form-group" [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}">
    <label for="password">Пароль</label>
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Введите пароль"
      formControlName="password"
    >
    <span class="form-help-text" *ngIf="form.get('password').invalid && form.get('password').touched">
      <small *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">поле password должно иметь более
        {{ form.get('password').errors['minlength']['requiredLength'] }} символов. Сейчас введено
        {{ form.get('password').errors['minlength']['actualLength'] }}</small>
      <small *ngIf="form.get('password').errors['required']">поле password не может быть пустым</small>
    </span>
  </div>
  <div class="form-group" [ngClass]="{'has-error': form.get('name').invalid && form.get('name').touched}">
    <label for="name">Имя</label>
    <input
      type="text"
      class="form-control"
      id="name"
      placeholder="Введите имя"
      formControlName="name"
    >
    <span class="form-help-text" *ngIf="form.get('name').invalid && form.get('name').touched">
      <small>поле name обязательное для заполнения</small>
    </span>
  </div>
  <div class="form-group" [ngClass]="{'has-error': form.get('agree').invalid && form.get('agree').touched}">
    <label for="agree">
      <input class="checkbox"
             id="agree"
             type="checkbox"
             formControlName="agree"
      >
      <span>Согласен с правилами</span>
    </label>
  </div>
  <div class="form-group">
    <button type="submit"
            class="btn btn-block btn-primary"
            [disabled]="form.invalid"
    >Зарегистрироваться</button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">Уже есть аккаунт? <a [routerLink]="['/login']">Войти!</a></p>
  </div>
</form>
