<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Добавить категорию</h3>
    </div>
  </div>
  <div class="card-block">
    <div class="alert alert-{{ message.type }}" *ngIf="message.text">{{ message.text }}</div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form-group"
           [ngClass]="{'has-error': name.invalid && name.touched}"
      >
        <label class="control-label" for="categoryName">Введите название</label>
        <input type="text"
               id="categoryName"
               class="form-control"
               required
               ngModel
               #name='ngModel'
               name="name"
        >
        <span class="form-help-text"
              *ngIf="name.invalid && name.touched"
        >
          Название категории не может быть пустым</span>
      </div>
      <div class="form-group"
           [ngClass]="{'has-error': capacity.invalid && capacity.touched}"
      >
        <label class="control-label" for="categoryValue">Введите лимит</label>
        <input type="number"
               id="categoryValue"
               class="form-control"
               required
               [ngModel]="1"
               #capacity='ngModel'
               name="capacity"
               min="1"
        >
        <span class="form-help-text"
              *ngIf="capacity.invalid && capacity.touched"
        >
          Поле не может быть пустым</span>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Добавить</button>
    </form>
  </div>
</div>
