<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Редактировать категорию</h3>
    </div>
  </div>
  <div class="card-block">
    <div class="alert alert-{{ message.type }}" *ngIf="message.text">{{ message.text }}</div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form-group">
        <label class="control-label" for="e-categorySelect">Введите название</label>
        <select class="form-control"
                id="e-categorySelect"
                [(ngModel)]="currentCategoryId"
                [ngModelOptions]="{standalone: true}"
                (change)="onCategoryChange()"
        >
          <option [value]="c.id"
                  *ngFor="let c of categories"
          >
            {{ c.name }}
          </option>
        </select>
      </div>
      <div class="form-group"
           [ngClass]="{'has-error': name.invalid && name.touched}"
      >
        <label class="control-label" for="e-categoryName">Введите название</label>
        <input type="text"
               id="e-categoryName"
               class="form-control"
               required
               [ngModel]="currentCategory.name"
               #name='ngModel'
               name="name"
        >
        <span class="form-help-text"
              *ngIf="name.invalid && name.touched"
        >
          Название категории не может быть пустым</span>
      </div>
      <div class="form-group"
           [ngClass]="{'has-error': capacity.invalid && capacity.touched}"
      >
        <label class="control-label" for="e-categoryValue">Введите лимит</label>
        <input type="number"
               id="e-categoryValue"
               class="form-control"
               required
               [ngModel]="currentCategory.capacity"
               #capacity='ngModel'
               name="capacity"
               min="1"
        >
        <span class="form-help-text"
              *ngIf="capacity.invalid && capacity.touched"
        >
          Поле не может быть пустым</span>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Добавить</button>
    </form>
  </div>
</div>
