<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Список событий</h3>
    </div>
    <div class="form-inline pull-right m-r-2">
      <div class="form-group">
        <input type="text"
               class="form-control"
               [placeholder]="searchPlaceholder"
               [(ngModel)]="searchValue"
        >
      </div>
      <div class="btn-group dropdown ml-1" wfmDropdown>
        <button type="button" class="btn btn-secondary dropdown-toggle">
          Параметр
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="filterList('amount')">Сумма</a>
          <a class="dropdown-item" (click)="filterList('date')">Дата</a>
          <a class="dropdown-item" (click)="filterList('category')">Категория</a>
          <a class="dropdown-item" (click)="filterList('type')">Тип</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-block">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Сумма</th>
        <th>Дата</th>
        <th>Категория</th>
        <th>Тип</th>
        <th class="text-lg-center">Действие</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of events | wfmFilter:searchValue:searchField; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ e.amount | number:'1.2-2' }}</td>
          <td>{{ e.date | wfmMoment:'DD.MM.YYYY HH:mm:ss' }}</td>
          <td>{{ e.categoryName }}</td>
          <td>
            <span [ngClass]="getEventClass(e)">
              <span *ngIf="e.type === 'income'">Доход</span>
              <span *ngIf="e.type === 'outcome'">Расход</span>
            </span>
          </td>
          <td class="text-lg-center">
            <a [routerLink]="['/system/history', e.id]" class="btn btn-primary-outline">Открыть</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
