<div class="card">
  <div class="card-block">
    <div class="title-block">
      <h4 class="title">Курс</h4>
    </div>
    <div class="row row-sm stats-container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Валюта</th>
            <th>Курс</th>
            <th>Дата</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>RUB</td>
            <td>1</td>
            <td>{{ date | date:'dd.MM.yyyy' }}</td>
          </tr>
          <tr *ngFor="let cur of currencies">
            <td>{{ cur }}</td>
            <td>{{ 1 / currency[cur]['Value'] | number: '1.2-7' }}</td>
            <td>{{ date | date:'dd.MM.yyyy' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
