<div class="title-block">
  <h3 class="title">
    Страница истории <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button class="btn-sm btn btn-primary-outline" (click)="openFilter()">
      <i class="fa fa-filter"></i>
    </button>
  </div>
</div>

<ng-container *ngIf="!isLoaded">
  <div class="text-center"><wfm-loader></wfm-loader></div>
</ng-container>

<ng-container *ngIf="isLoaded">
  <section class="section">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <wfm-history-chart [data]="chartData"></wfm-history-chart>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="row">
      <div class="col-md-12">
        <wfm-history-events
          [categories]="categories"
          [events]="filteredEvents"
        ></wfm-history-events>
      </div>
    </div>
  </section>

  <ng-container *ngIf="isFilterVisible">
    <wfm-history-filter
      [categories]="categories"
      (onFilterApply)="onFilterApply($event)"
      (onFilterCancel)="onFilterCancel()"
    ></wfm-history-filter>
  </ng-container>
</ng-container>
