<div class="title-block">
  <h3 class="title pull-left">
    Страница счета <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
  <button class="btn-sm btn btn-primary-outline" (click)="onRefresh()">
    <i class="fa fa-refresh"></i>
  </button>
</div>
</div>
<section class="section">
  <div class="row text-center" *ngIf="!isLoaded"><wfm-loader></wfm-loader></div>
  <div class="row" *ngIf="isLoaded">
    <div class="col col-xs-12 col-sm-12 col-md-6 col-xl-5 stats-col">
      <wfm-bill-card [bill]="bill" [currency]="currency"></wfm-bill-card>
    </div>
    <div class="col col-xs-12 col-sm-12 col-md-6 col-xl-7 history-col">
      <wfm-currency-card [currencyFull]="currencyFull"></wfm-currency-card>
    </div>
  </div>
</section>
